.container-login {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #60D3D3 0%, #4897ED 100%);
  @media only screen and (min-width: 1024px) { 
    background-image: url("https://cdn.pixabay.com/photo/2015/10/12/15/00/water-984077_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  height: 100vh;
  width: 100%;
  max-width: 1024px;
  
  .banner{
    display: flex;
    z-index: 1;
    border-radius: 18px ;
    width: 750px;
    height: auto;
    margin-right: -155px;
  }
  
  
  form {
    background: linear-gradient(180deg, #60D3D3 0%, #4897ED 100%);
    height: 480px;
    top: 10px;
    // margin-top: 50px;
    box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-left: 135px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    // .input {
      
    //   width: 327px;
    //   height: 25px;
    //   border: none;
    //   display: flex;
    //   background: none;
    //   border-bottom: 1px solid #ffffff;
    //   text-align: center;
    //   margin: 10px;
    //   outline: none;
    // }
    .placeText {
      padding-left: 10px;
      text-align: start;
      font-family: Sanchez;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      color: #fffdfd;
      &::-webkit-input-placeholder {
        color: #fffdfd;
      }
    }
    .submit {
      z-index: 5;
      cursor: pointer;
      width: 296px;
      height: 40px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 24px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      outline: none;
    }
    .submitText {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
    .Textlabel {
      font-family: Sanchez;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #efefef;
      margin-bottom: 10px;
    }
    .loginSocial {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100px;
      margin-bottom: 10px;
      .test {
        margin-bottom: 17px;
      }
      .SocialIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        .iconFace {
          margin-left: 40px;
        }
        .icons {
          width: 40px;
          cursor: pointer;
        }
      }
    }
    .NewUser {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
    }
    .cadastrar {
      cursor: pointer;
      &:hover{
        color: #551a8b;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .content-login {
    .banner {
      width: 650px;
    }

    form {
      height: 420px;

      .logo {
        width: 100px;
      }
    }
  }

}

@media only screen and (max-width: 1023px) {

.banner{
  display: none;
}

.containerLogin {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    
    
    
    form {
      box-shadow:none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      // .input {
      //   width: 260px;
      //   height: 25px;
      //   border: none;
      //   display: flex;
      //   background: none;
      //   border-bottom: 1px solid #ffffff;
      //   text-align: center;
      //   margin: 10px;
      //   outline: none;
      // }
      .placeText {
        font-family: Sanchez;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #fffdfd;
        &::-webkit-input-placeholder {
          color: #fffdfd;
        }
      }
      .submit {
        width: 296px;
        height: 40px;
        background: #b6dc61;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 10px;
        outline: none;
      }
      .submitText {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
      }
      .Textlabel {
        font-family: Sanchez;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #efefef;
        margin-bottom: 10px;
      }
      .loginSocial {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100px;
        margin-bottom: 10px;
        .test {
          margin-bottom: 17px;
        }
        .SocialIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          .iconFace {
            margin-left: 40px;
          }
          .icons {
            cursor: pointer;
          }
        }
      }
      .cadastrar {
        cursor: pointer;
        &:hover{
          color: #551a8b;
        }
      }
    }
  }
} 