.containerRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  .navegate {
    position: absolute;
    top: 30px;
    left: 25px;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
  }

  .step {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    position: fixed;
    top: 30px;
    right: 25px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  }
// }

@media only screen and (max-width: 768px) {
  
}