.main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    .container-activity {
      display: flex;
      justify-content: center;
      width: 65%;
      .sports {
        width: 72px;
        height: 72px;
        margin: 10px;
        display: flex;
        align-items: center;
        border-radius: 68px;
        background: #ffffff;
        justify-content: center;
        border: 1px solid #11c9c9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          background: rgba(218, 241, 77, 0.76);
        }
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
  @media screen and (max-width: 760px) {
    .main {
      display: flex;
      /* justify-content: center; */
      flex-direction: column;
      align-items: center;
      .container-activity {
        flex-wrap: wrap;
      }
    }
  }
  