.map {
  width: 334px;
  height: 321px;
  position: relative;
}
@media screen and (max-width: 764px) {
  .map {
    // border-radius: 141px;
    width: 240px;
    height: 171px;
    // margin-left: 8px;
    // margin-top: -44px;
  }
}
