.logo {
  width: 15em;
  min-height: 5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: white;
}
