.Container {
  display: flex;
  justify-content: space-around;
  width: 314px;
  height: 132px;
  border: solid 2px #11c9c9;
  border-radius: 24px;

  .box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: black;
    }

    .User_Name {
      font-size: 14px;
    }

    .data {
      margin: 0;
      font-size: 12px;
    }
  }

  .Time {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 25px;

    .bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 1px solid;
      height: 40px;

      .start {
        margin-right: 5px;
      }
    }
  }

  .Box_info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .Local {
      margin: 0;
    }

    .icon {
      width: 27px;
      height: 26px;
      border-radius: 20px;
      background-color: black;
      margin-top: 10px;
    }

    .acc {
      display: flex;
      justify-content: center;
      width: 35px;
      height: 30px;
      border: none;
      border-radius: 7px;
      margin: 15px 0px 0px 55px;

    }
        .acc:hover{
          background-color: #11c9c9;
        }
  }
}
