@import url("https://fonts.googleapis.com/css?family=Sanchez&display=swap");

.Container {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 150px;
  border: solid 2px #11c9c9;
  border-radius: 24px;
  font-family: "Sanchez", serif;
  margin: 10px;
  color: #000;
  background: #ffffff;
  cursor: pointer;

  .box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;

    .img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: #fff;
    }

    .User_Name {
      font-size: 14px;
    }
  }
  .Time {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 25px;

    .bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 1px solid;
      height: 40px;

      .start {
        margin-right: 5px;
        display: flex;

        .icon_start {
          font-size: 15px;
          margin-right: 5px;
        }
      }
    }

    .hour {
      display: flex;
      align-items: center;
    }

    .data {
      margin: 0;
      font-size: 12px;
    }
  }
  .Box_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .cheked {
      margin: 20px;
    }

    .stats {
      .Local {
        margin: 0;
      }
      .lacalization {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          border: 1px solid rgba(17, 201, 201, 0.54);
          border-radius: 15px;
        }
      }
    }
  }
  .mobile{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Container {
    display: flex;
    justify-content: space-around;
    width: 314px;
    height: 132px;
    border: solid 2px #11c9c9;
    border-radius: 24px;
    font-family: "Sanchez", serif;
    margin: 10px;
    color: #000;
    background: #ffffff;
    cursor: pointer;

    .box {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      align-items: center;
      justify-content: center;

      .img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #fff;
      }

      .User_Name {
        font-size: 14px;
      }
    }
    .Time {
      display: none;
    }
    .Box_info{
      display: none;
    }
    .mobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        margin: 5px;
      }
    }
  }
}
