@import url("https://fonts.googleapis.com/css?family=Sanchez&display=swap");

.Container {
  display: flex;
  justify-content: space-around;
  width: 314px;
  height: 132px;
  border: solid 2px #11c9c9;
  border-radius: 24px;
  font-family: "Sanchez", serif;
  margin: 10px;
  color: #000;
  background: #FFFFFF;
  cursor: pointer;

  .box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;

    .img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: #fff;
    }

    .User_Name {
      font-size: 14px;
    }

    .data {
      margin: 0;
      font-size: 12px;
    }
  }

  .Time {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 25px;

    .bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 1px solid;
      height: 40px;

      .start {
        margin-right: 5px;
        display: flex;

        .icon_start {
          font-size: 15px;
          margin-right: 5px;
        }
      }
    }
  }

  .Box_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .Local {
      margin: 0;
    }

    .icon {
      width: 27px;
      height: 26px;
      border-radius: 20px;
      background-color: #fff;
      margin-top: 10px;
    }

    .acc {
      display: flex;
      justify-content: center;
      width: 35px;
      height: 30px;
      border: none;
      border-radius: 7px;
      margin: 15px 0px 0px 55px;
    }
    .acc:hover {
      background-color: rgba(70, 234, 234, 0.64);
    }
  }
}

@media screen and (min-width: 740px) {
  .Container {
    width: 500px;
    height: 145px;

    .box {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      align-items: center;
      .img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #fff;
      }

      .User_Name {
        font-size: 14px;
      }

      .data {
        margin: 0;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
          "Helvetica Neue", sans-serif;
      }
    }

    .Time {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 12px;
      margin-bottom: 25px;

      .bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid;
        height: 40px;

        .start {
          margin-right: 5px;
        }
      }
    }

    .Box_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .Local {
        margin: 0;
      }

      .icon {
        width: 27px;
        height: 27px;
        border-radius: 20px;
        background-color: #fff;
        margin-top: 10px;
      }

      .acc {
        border-radius: 30px;
        width: 35px;
        height: 35px;
        margin: 15px 0px 0px 70px;
      }
      .acc:hover {
        background-color: rgba(70, 234, 234, 0.64);
      }
    }
  }
}
