.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.91);
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 5px;
    background-color: white;
    width: 65%;
    height: 65%;
    .closeModal {
      color: black;
      position: relative;
      top: 6.5vh;
      left: 30vw;
      font-size: 35px;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 85%;
      height: 100%;
      .descripitionInput {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        margin-bottom: -7px;
        text-align: start;
        width: 84%;
      }
      .containerSporte {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        .sports {
          width: 75px;
          display: flex;
          align-items: center;
          justify-content: center;

          .sportImg {
            width: 9.5vh;
            height: 9.5vh;
            border-radius: 55px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
      .formTime {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
          width: 20px;
          height: 20px;
        }
        h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
        }
        p {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
        }
        .Input {
          text-align: center;
          width: 60px;
          height: 20px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          text-decoration-line: underline;
          display: flex;
          align-items: center;
          &input[type="time"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }
      }
      .formInput {
        width: 85%;
        height: 31px;
        margin: 12px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
      }
    }
    .btns {
      width: 50%;
      display: flex;
      align-content: center;
      margin: 16px 0px 50px 0px;
      justify-content: space-around;
      button {
        width: 90px;
        height: 30px;
        border: none;
        display: flex;
        cursor: pointer;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        background: rgba(70, 234, 234, 0.64);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
