.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.91);
  .modal-container {
    width: 336px;
    height: 535px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: solid black 1px;
    background-color: white;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 85%;
      height: 100%;
      .descripitionInput {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        font-style: normal;
        text-align: center;
        align-items: center;
        font-family: Open Sans;

        color: rgba(48, 48, 48, 0.929648);
      }
      .containerSporte {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        .containerSports {
          margin: 3px;
          width: 75px;

          label {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46.39px;
            height: 46.39px;
            left: 21px;
            top: 115px;
            /* atividades */
            border-radius: 55px;
            background: #ffffff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.47);
            .sportImg {
              width: 24.65px;
              height: 19.51px;
            }

            .sport-radio{
              display: none;
              
              // isn't working
              &:checked + .sports {
                background-color: #f06033;
              }
            }

          }
        }
      }
      .containerFormTime {
        // width: 44vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .formTime {
          display: flex;
          margin-top: 15px;
          margin-left: -6px;
          margin-bottom: 15px;
          align-items: baseline;
          justify-content: center;
          flex-direction: row;
          img {
            z-index: 2;
            width: 16px;
            height: 16px;
            margin-left: -17px;
            margin-right: 13px;
          }
          .label-float {
            margin: 5px 12px;
            padding-top: 18px;
            position: relative;
          }
        }
        .Input {
          padding: 0;
          border: none;
          height: 20px;
          width: 104px;
          display: flex;
          outline: none;
          font-size: 12px;
          color: #3e3e3e;
          line-height: 16px;
          font-style: normal;
          text-align: center;
          font-weight: normal;
          text-decoration: none;
          font-family: Open Sans;
          border-bottom: 1px solid #3e3e3e;
        }
        .date {
          min-width: 240px;
        }
        label {
          color: #3e3e3e;
        }
      }
      .formInput {
        width: 85%;
        height: 31px;
        margin: 0 12px 12px;
        border-radius: 2px;
        border: 0.5px solid #ccc;
      }
      .descriçaoAtividade {
        width: 256px;
        resize: none;
        height: 99px;
        padding: 10px;
        text-align: left;
        border-radius: 4px;
        box-sizing: border-box;
        border: 0.5px solid rgba(137, 137, 137, 0.44);
      }
    }
    .btns {
      width: 100%;
      display: flex;
      align-content: center;
      margin: -9px 0px 44px 0px;
      justify-content: space-around;
      .modalBtn {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        background: #868181;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .btnSecundario {
        background: #f06033;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .main {
    .modal-container {
      width: 290px;
      form {
        .containerSporte {
          width: calc(100% - 20px);
          padding-left: 41px;
          overflow-y: hidden;
          overflow-x: scroll;
        }
      }
    }
  }
}
