.Menu_Bar{
    background: aqua;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
      color: white;
      font-size: 35px;
  }
    img{
        margin-left: 5px;
    }
    @media screen and (max-width: 760px) {
        .Menu_Bar {
          img {
            display: flex;
          }
        }
    }
}